[submodule "backend/worker"]
	path = backend/worker
	url = git@github.com:dawpitech/survivorWORKER.git
[submodule "backend/API"]
	path = backend/API
	url = git@github.com:dawpitech/survivorBACK.git
[submodule "frontend"]
	path = frontend
	url = git@github.com:dawpitech/survivorFRONT.git
